.BitImage {
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;

    h2 {
        margin: 0 2em 0 0;
        padding: 0;
        text-align: right;
        color:gray;
        width:100%;
    }

    img {
        height: 90vh;
        width: auto;
    }
}
