// These values are the minimum and maximum viewport sizes to apply the font scaling
$min_width: 300;
$max_width: 1500;

// These values represent the range of font-size to apply
$min_font: 50;
$max_font: 100; 


.BitTitle {
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    color: rebeccapurple;        

    span {
        font-size: #{$min_font}px;
        font-family: Roboto;
    }
}

// This part is a little bit ugly, I will explain what is going on in a blog post soon.
@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px){
  .BitTitle span { 
    font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) ));
  }
}
@media (min-width: #{$max_width}px){
  .BitTitle span { 
      font-size: #{$max_font}px;
    }
}


